@font-face {
  font-family: 'Proxima Nova';
  src: url(../font/proxima.otf);
}

.landing {
  background: #1B1B1B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FAFAFA;
  z-index: 1;
}

@media (max-width: 600px) {
  .landing {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.landing .active {
  z-index: 20;
  position: absolute;
  top: 0;
  padding: 15% 10%;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

@media (max-width: 600px) {
  .landing .active {
    width: 100vw;
    height: 100vh;
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #1B1B1B;
    color: #fafafa;
  }
}

.landing .active .close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.landing .active .close .line {
  width: 18px;
  height: 1px;
  background: #ffffff;
  margin: 5px 0;
}

.landing .active .close .first {
  -webkit-transform: rotate(45deg) translateY(8px);
          transform: rotate(45deg) translateY(8px);
}

.landing .active .close .second {
  -webkit-transform: rotate(-45deg) translateY(-8px);
          transform: rotate(-45deg) translateY(-8px);
}

.landing .active .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70vh;
  padding: 15% 0;
  font-size: 22px;
}

.landing .active .content .links:hover {
  color: #CFB53B;
}

.landing .dropdown {
  visibility: hidden;
  height: 0;
  width: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.landing .left {
  width: 40%;
  padding: 2% 4%;
}

@media (max-width: 600px) {
  .landing .left {
    width: 100%;
    padding: 10%;
  }
}

.landing .left .mobile-img {
  display: none;
  padding-top: 40px;
}

@media (max-width: 600px) {
  .landing .left .mobile-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.landing .left .mobile-img .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
}

.landing .left .mobile-img .img-container::-webkit-scrollbar {
  display: none;
}

.landing .left .mobile-img .img-container .image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 230px;
  height: 250px;
}

.landing .left .mobile-img .img-container .image:not(:last-of-type) {
  margin-right: 20px;
}

.landing .left .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing .left .nav .eko-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 12px;
  width: 28%;
  font-family: 'Proxima Nova';
  font-weight: light;
}

@media (max-width: 600px) {
  .landing .left .nav .eko-logo {
    font-size: 11px;
    width: 30%;
    padding: 10px 6px;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .landing .left .nav .eko-logo {
    width: 40%;
    font-size: 13px;
  }
}

@media (min-width: 901px) and (max-width: 1200px) {
  .landing .left .nav .eko-logo {
    width: 40%;
  }
}

.landing .left .nav .hamburger {
  display: none;
  cursor: pointer;
}

@media (max-width: 600px) {
  .landing .left .nav .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.landing .left .nav .hamburger .line {
  width: 18px;
  height: 1px;
  background: #ffffff;
  margin: 5px 0;
}

.landing .left .welcome {
  font-size: 42px;
  line-height: 56px;
  max-width: 100%;
  margin-top: 35%;
}

@media (max-width: 600px) {
  .landing .left .welcome {
    font-size: 32px;
    line-height: 45px;
    max-width: 92%;
    margin-top: 20%;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .landing .left .welcome {
    font-size: 24px;
    margin-top: 30%;
    line-height: 40px;
  }
}

@media (min-width: 901px) and (max-width: 1200px) {
  .landing .left .welcome {
    font-size: 28px;
    line-height: 45px;
  }
}

.landing .left .landing-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #CFB53B;
  width: 60%;
  height: 7%;
  margin-top: 10%;
  cursor: pointer;
  color: #fafafa;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

@media (max-width: 600px) {
  .landing .left .landing-btn {
    padding: 5% 4%;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .landing .left .landing-btn {
    padding: 10% 0;
  }
}

@media (min-width: 901px) and (max-width: 1200px) {
  .landing .left .landing-btn {
    height: 9%;
  }
}

.landing .left .landing-btn:hover {
  background: #fafafa;
  color: #CFB53B;
}

.landing .left .landing-btn .arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 17px;
}

.landing .left .landing-btn .visit {
  font-family: 'Proxima Nova';
}

@media (min-width: 601px) and (max-width: 900px) {
  .landing .left .landing-btn {
    font-size: 13px;
  }
}

.landing .right {
  width: 60%;
}

@media (max-width: 600px) {
  .landing .right {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .landing .right .top {
    display: none;
  }
}

.landing .right .top ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4%;
  margin: 0 2%;
}

.landing .right .top ul li {
  list-style: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

@media (min-width: 601px) and (max-width: 900px) {
  .landing .right .top ul li {
    font-size: 12px;
  }
}

.landing .right .top ul li:hover {
  color: #CFB53B;
}

.landing .right .bottom {
  padding: 0 5%;
  padding-bottom: 5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

@media (max-width: 600px) {
  .landing .right .bottom {
    display: none;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .landing .right .bottom {
    padding: 5% 10%;
    grid-gap: 10px;
  }
}

.landing .right .bottom .pictures1 {
  position: relative;
}

.landing .right .bottom .pictures1 .pic1 {
  position: absolute;
  right: 0;
}

@media (min-width: 601px) and (max-width: 900px) {
  .landing .right .bottom .pictures1 .pic1 {
    max-width: 190px;
    max-height: 190px;
  }
}

@media (min-width: 901px) and (max-width: 1200px) {
  .landing .right .bottom .pictures1 .pic1 {
    max-width: 250px;
    max-height: 250px;
  }
}

.landing .right .bottom .pictures2 {
  position: relative;
}

.landing .right .bottom .pictures2 .pic2 {
  position: absolute;
  bottom: 0;
}

@media (min-width: 601px) and (max-width: 900px) {
  .landing .right .bottom .pictures2 .pic2 {
    max-width: 140px;
    max-height: 140px;
  }
}

@media (min-width: 901px) and (max-width: 1200px) {
  .landing .right .bottom .pictures2 .pic2 {
    max-width: 200px;
    max-height: 200px;
  }
}

.landing .right .bottom .pictures3 {
  position: relative;
}

.landing .right .bottom .pictures3 .pic3 {
  position: absolute;
  right: 0;
}

@media (min-width: 601px) and (max-width: 900px) {
  .landing .right .bottom .pictures3 .pic3 {
    max-width: 140px;
    max-height: 140px;
  }
}

@media (min-width: 901px) and (max-width: 1200px) {
  .landing .right .bottom .pictures3 .pic3 {
    max-width: 200px;
    max-height: 200px;
  }
}

.landing .right .bottom .pictures4 {
  position: relative;
}

@media (min-width: 601px) and (max-width: 900px) {
  .landing .right .bottom .pictures4 .pic4 {
    max-width: 190px;
    max-height: 190px;
  }
}

@media (min-width: 901px) and (max-width: 1200px) {
  .landing .right .bottom .pictures4 .pic4 {
    max-width: 250px;
    max-height: 250px;
  }
}
/*# sourceMappingURL=landing.css.map */