@import '../mixins.scss';

@font-face {
    font-family:'Proxima Nova';
     src: url(../font/proxima.otf);
    }

.landing {
    background: #1B1B1B;
    display: flex;
    color: #FAFAFA;
    z-index: 1;

    @include bp(mobile) {
        flex-direction: column;
    }

    .active {
        z-index: 20;
        position: absolute;
        top: 0;
        padding: 15% 10%;
        transition: all 0.1s ease;
        

 

        @include bp(mobile) {
            width: 100vw;
            height: 100vh;
            visibility: visible;
            display: flex;
            flex-direction: column;
            background: #1B1B1B;
            color: #fafafa;
        }  

        .close {
            display: flex;
            flex-direction: column;
        

        .line {
            width: 18px;
            height: 1px;
            background: #ffffff;
            margin: 5px 0;
        }

        .first {
            transform: rotate(45deg) translateY(8px);
            
        }

        .second {
            transform: rotate(-45deg) translateY(-8px);
           
        }
    }

    .content {

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 70vh;
        padding: 15% 0;
        font-size: 22px;

        .links {

            &:hover {
                color: #CFB53B;
            }
        }
    }
    }

    .dropdown {
        visibility: hidden;
        height: 0;
        width: 0;
        transform: translateX(100%);
        transition: all 0.1s ease;
        

    }


    .left {
        width: 40%;
        padding: 2% 4%;

      @include bp(mobile) {
          width: 100%;
          padding: 10%;
      }

        .mobile-img {
            display: none;
            padding-top: 40px;

            @include bp(mobile) {
                display: flex;
            }

            .img-container {
                display: flex;
                overflow: auto;

                &::-webkit-scrollbar {
                    display: none;
                }

                .image {
                    flex: 0 0 auto;
                    width: 230px;
                    height: 230px;

                    &:not(:last-of-type) {
                        margin-right: 20px;
                    }
                }
            }
        }

        .nav {

            display: flex;
            justify-content: space-between;
            align-items: center;

            .eko-logo {
                display: flex;
                align-items: center;
                justify-content: center;
                color:#ffffff;
                border: 1px solid #ffffff;
                padding: 12px;
                width: 28%;
                font-family:'Proxima Nova';
                font-weight: light;
    
                @include bp(mobile) {
                    font-size: 11px;
                    width: 30%;
                    padding: 10px 6px;
                }
    
                @include bp(tablet) {
                    width: 40%;
                    font-size: 13px;
                }
    
                @include bp(desktop) {
                    width: 40%;
                }
            }

            .hamburger {
                display: none;
                cursor: pointer;

                @include bp(mobile) {
                    display: flex;
                    flex-direction: column;
                }

                .line {
                    width: 18px;
                    height: 1px;
                    background: #ffffff;
                    margin: 5px 0;
                }
            }

        }
       

  .wel-con {
     overflow: hidden;

    .welcome {
        font-size: 42px;
        line-height: 56px;
        max-width: 100%;
        margin-top: 35%;
        opacity: 1;


   @include bp(mobile) {
    font-size: 32px;
    line-height: 45px;
    max-width: 92%;
    margin-top: 20%;
    
   }

   @include bp(tablet) {
    font-size: 24px;
    margin-top: 30%; 
    line-height: 40px;
   }

   @include bp(desktop) {
    font-size: 28px;
    line-height: 45px;
 }

}
  }


  .land-con {
      visibility: hidden;
      overflow: hidden;

    .landing-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #CFB53B;
        width: 55%;
        padding: 4% 0;
        margin-top: 10%;
        cursor: pointer;
        color: #fafafa;
        transition: all 0.3s ease-out;
        opacity: 1;

        @include bp(mobile) {
            padding: 6% 0;
        }

        @include bp(tablet) {
            padding: 6% 0;
        }

        @include bp(desktop) {
            height: 9%;
         }

       &:hover {
        background: #fafafa;
        color: #CFB53B; 
       }

        .arrow {
            display: flex;
            align-self: center;
            font-size: 17px;
        }

        .visit {
            font-family:'Proxima Nova';
        }

        @include bp(tablet) {
            font-size: 13px;
        }
    }

  }

 

  

    }

    .right {
        width: 60%;

        @include bp(mobile) {
            width: 100%;
        }

        .top {

            @include bp(mobile) {
                display: none;
            }

            ul {
               display: flex;
               align-items: center; 
               justify-content: space-between;
               padding: 4%;
               margin: 0 2%;

               li {
                list-style: none;
                transition: all 0.3s ease;
                cursor: pointer;

                @include bp(tablet) {
                    font-size: 12px;
                }

                &:hover {
                    color: #CFB53B;
                }
               }

            }
        }



       

    
}
}


#bottom {
    padding: 0 5%;
    padding-bottom: 5%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;


    @include bp(mobile) {
     display: none;
    }

    @include bp(tablet) {
     padding: 5% 10%;
     grid-gap: 10px;
    }

    .reveal-left {
     width: 100%;
     height: 100%;
     visibility: hidden;

       

     .pictures1 {
         position: relative;
         overflow: hidden;
         width: 100%;
         height: 100%;

         .cover {
            position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              right: 0;
              background-color: #1B1B1B;
              z-index: 99;
        }



       .pic1 {
          position: absolute;
          right: 0;

          @include bp(tablet) {
              max-width: 190px;
              max-height: 190px;
              
          }

          @include bp(desktop) {
              max-width: 250px;
              max-height: 250px;
          }

      }


      
     }

     .pictures4 {
        position: relative;
        overflow: hidden;
         width: 100%;
         height: 100%;

         .cover {
            position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              right: 0;
              background-color: #1B1B1B;
              z-index: 99;
        }
  
        .pic4 {
             
            @include bp(tablet) {
                max-width: 190px;
                max-height: 190px;
            }
  
            @include bp(desktop) {
                max-width: 250px;
                max-height: 250px;
            }
  
        }
  
       }

   
    }

    
    .reveal-right {
        width: 100%;
        height: 100%;
        visibility: hidden;
    
        .pictures2 {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 100%;
   
            .cover {
               position: absolute;
                 width: 100%;
                 height: 100%;
                 top: 0;
                 left: 0;
                 background-color: #1B1B1B;
                 z-index: 99;
           }
   
      
            .pic2 {
                position: absolute;
                top: 80px;
      
                @include bp(tablet) {
                    max-width: 140px;
                    max-height: 140px;
                    top: 50px;
                }
      
                @include bp(desktop) {
                    max-width: 200px;
                    max-height: 200px;
                    top: 50px;
                }
            }
      
           }

           .pictures3 {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 100%;
            
   
            .cover {
               position: absolute;
                 width: 100%;
                 height: 100%;
                 top: 0;
                 left: 0;
                 background-color: #1B1B1B;
                 z-index: 99;
           }
   
            
      
            .pic3 {
                position: absolute;
                right: 0;
      
                @include bp(tablet) {
                 max-width: 140px;
                 max-height: 140px;
             }
      
             @include bp(desktop) {
                 max-width: 200px;
                 max-height: 200px;
             }
      
             
            }
      
           }
    
    }


 
   
}